@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
    display: grid;
    grid-template-areas:
        "header"  /* Header area */
        "main"    /* Main content area */
        "footer"; /* Footer area */
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    margin: 0px;
    height: 100vh;
}

/* Header ********************************************************************/
header {
    grid-area: header;
}

/* Main ********************************************************************/
main {
    grid-area: main;
}



/* Footer ********************************************************************/
footer {
    grid-area: footer;
}
